.react-calendar__tile--now {
  border: 1px solid #f1be5b !important;
  background: black !important;
  color: white;
}

.react-calendar__tile--active {
  background: #f1be5b !important;
  color: black !important;
}